Django>=5.0.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.3.0  # For JWT Authentication
django-filter>=23.5
drf-nested-routers>=0.93.4
Pillow>=10.0.0  # For ImageField support
django-cors-headers>=3.14.0  # For handling CORS in API
